footer{
    background-color: #343434;
    max-width: 100%;

    
}
#nos{
    align-items: center;
}
.sobre{
    width: 10%;
    height: 10%;
    margin-left: 3%;
    display: inline;

}
p{
    color: white;
    font-family: inter, arial, verdana;
}